* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  width: 100%;
  user-select: none;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.App__background--map {
  background-image: url(./assets/image/map2.jpg);
  background-size: cover;
  border-radius: 50%;
  width: 270px;
  height: 270px;
  z-index: -1;

  box-shadow: inset -13px -13px 65px rgba(6, 7, 56, 0.7),
    inset -45px -45px 100px rgba(7, 7, 54, 0.4)
  ;
  -webkit-linear-gradient: (-45deg, rgba(255, 255, 220, .2) 0%, transparent 100%);
  -moz-linear-gradient: (-45deg, rgba(255, 255, 220, .2) 0%, transparent 100%);
  -o-linear-gradient: (-45deg, rgba(255, 255, 220, .2) 0%, transparent 100%);
  -ms-linear-gradient: (-45deg, rgba(255, 255, 220, 0.2) 0%, transparent 100%);

  -webkit-animation: rotate 90s infinite linear;
}

@-webkit-keyframes rotate {
  from {
    background-position: left center;
  }

  to {
    background-position: -1078px center;
  }
}

#input {
  height: 2rem;
  margin-top: 2rem;
}

.App__btn--search {
  border-radius: 0.5rem;
  padding: 0.3rem 0.1rem;
  cursor: pointer;
}

.CardCountry {
  background-color: rgba(211, 211, 211, 50%);
  width: 300px;
  height: fit-content;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  border-radius: 1rem;
}


.CardCountry__header {
  display: flex;
  gap: 1.5rem;
  margin-top: 1rem;
}

.CardCountry__header--title {
  font-size: 25px;
  margin: 0;
  display: flex;
  text-align: center;
  align-items: center;
}

.CardCountry__header--coatOfArms {
  width: 60px;
  margin-right: 1rem;
  user-select: none;
}

.CardCountry__body--info {
  line-height: 1.4rem;

}

@media (min-width: 700px) {
  .App__background--map {
    background-image: url(./assets/image/map5.jpg);
    width: 497px;
    height: 497px;
  }
}